<!DOCTYPE html>
<html>
<head>
  <title>Mind Over Meals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<h1>Welcome to Mind-over-Meals</h1> <br \>
	<br \>
	<h2>You are what you eat.</h2>
	<br \>
	<a href="/" title="Return to the homepage" id="logo">
  		<img src="http://i.imgur.com/PiorHjL.jpg" alt="Brain logo" />
	</a>

<%= yield %>

</body>
</html>
